/* Global */

* {
    margin: 0;
    padding: 0;
}

p,
a{
    font-family: 'Cabin', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

/* Header */

header {
    height: 60px;
    background-color: #1AA3AD;
}
header p,
a,
i {
    color: #F9BB12;
    font-size: 20px;
    float: left;
    padding-top: 18px;
}

header p {
    margin-left: 2px;
}

header i {
    margin-left: 10px;
}

/* Login formular */

.login {
    float: right;
    margin-right: 10px;
}

.popupContainer {
    display: none;
}

/* Logo */

#logo {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: #1AA3AD;
}

#logo img {
    width: 100%;
}

#logo h1 {
    margin-top: 3px;
    margin-left: 6%;
    font-size: 15px;
}

/* Events */

a {
    text-decoration: none;
}

.event {
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid #1AA3AD;
    padding: 2px;
    position: relative;
}

.event img {
    width: 100%;
}

.event p {
    font-size: 12px;
    color: #707070;
}

.event h2 {
    font-size: 20px;
    color: #1AA3AD;
}

.ikon {
    float: right;
    text-align: center;
    margin-top: -18px;
}

.dato {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: #1AA3AD;
    font-family: 'Raleway', sans-serif;
    color: #F9BB12;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.titel {
    width: 70%;
}

.clear {
    margin-bottom: 20px;
}